.logo-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.logo-container>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo-text {
    margin-top: 5px;
    /* Adds spacing between image and text */
    font-size: 16px;
    font-weight: bold;
    color: khaki;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}